body{
    background-color: #5F9F9F;
}

h1{
    color: white;
}


#inicio{                            /*Encontra-se no index.html*/
    text-align: center;
    margin-top: 130px;
}

.botoes{                            /*Encontra-se no index.html*/
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px; 
    width: 700px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
   
}


h2{
    color: white;
    text-align: center;
    margin-top: 130px;

}

#cadastramento{                  /*Enconta-se no index1.html*/
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}


section{                           /*Encontra-se no index2.html*/
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 150px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

button{                          /*Encontra-se no index.html*/
        background-color: white;
        text-align: center;
        border-radius: 10px;
        padding: 15px; 
        width: 700px;
        margin: auto;
        margin-top: 50px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}